/* основной цвет текста - #212121; */
/* вторичный цвет текста - #757575; */
/* цвет верхнего лого  - #000000; */
/* акцент текста - #2196F3; */
/* белый цвет текста - #FFFFFF; */
/* адрес и email в footer - rgba(255, 255, 255, 0.6); */
/* основной цвет фона - #FFFFFF; */
/* вторичный цвет фона - #F5F4FA; */
/* акцент фона - #2196F3; */
/* цвет фона  - rgba(47, 48, 58, 0.8); */
/* цвет фона footer - #2F303A; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-dark-color: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --logo-dark-color: #000000;
}

/* body */
.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  /* logo */
}
.logo {
  color: var(--logo-dark-color);
}
.logo-accent {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* site-nav */
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* address */
.address .link {
  color: var(--title-text-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* секция - герой */
.hero-title {
  color: var(--white-color);
  background-color: var(--background-dark-color);
}
.hero-link {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* все секции */
.section-title {
  color: var(--primary-text-color);
}
.section-text {
  color: var(--title-text-color);
}

/* секция - чем мы занимаемся */
.section-subtitle {
  color: var(--white-color);
  background-color: var(--background-dark-color);
}

}

/* ссылки на социальные сети */
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}
