/* основной цвет текста - #212121; */
/* вторичный цвет текста - #757575; */
/* цвет верхнего лого  - #000000; */
/* акцент текста - #2196F3; */
/* белый цвет текста - #FFFFFF; */
/* адрес и email в footer - rgba(255, 255, 255, 0.6); */
/* основной цвет фона - #FFFFFF; */
/* вторичный цвет фона - #F5F4FA; */
/* акцент фона - #2196F3; */

/* body */
.page {
  color: #212121;
  background-color: #ffffff;

  /* logo */
}
.logo {
  color: #000000;
}
/* site-nav */
.list {
  list-style: none;
}
